::selection {
    color: $primary-color;
    background: $yellow-color;
  }
body{
    font-family: 'Poppins', sans-serif;
    overflow: unset;
    overflow: overlay;
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        box-sizing: padding-box;
        background-color: rgba($secondary-color, 1);
        background-clip: padding-box;
        border: 1px solid rgba($white-color, 0);
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0);
    }
}

