

.bg-color-primary{
    background-color: $primary-color;
}
.bg-color-dark{
    background-color: $dark-color;
}
.bg-color-grey-bluish{
    background-color: $grey-bluish-color;
}

.bg-color-blue-light{
    background-color: $blue-light-color;
}

.bg-color-yellow{
    background-color: $yellow-color;
}

.bg-color-white{
    background-color: $white-color;
}

.text-color-primary{
    color: $primary-color !important;
}

.text-color-grey-bluish{
    color: $grey-bluish-color;
}

.text-color-grey{
    color: $grey-color;
}

.text-color-white{
    color: $white-color;
}